h2.container__title User Groups

= button_to 'New User Group', new_admin_user_group_path, method: :get
table
  thead
    th Name
    th Members
    th Actions
  tbody
  - @user_groups.each do |group|
    tr data-user-group-id="#{group.id}"
      td= link_to group.name, admin_user_group_path(group)
      td= group.users.count
      td
      
        = link_to 'Edit', edit_admin_user_group_path(group)
        = ' | '
        = link_to 'New Group Order', new_admin_user_group_group_order_path(group)
    
