h2.container__title= @user_group.name

h2 Orders
table#group_orders
  thead
    th ID
    th Deadline
    th Scheduled Delivery
  tbody
    - @user_group.group_orders.each do |order|
      tr data-group-order-id="#{order.id}"
        td= link_to(order.id, admin_user_group_group_order_path(@user_group, order))
        td= order.deadline
        td= order.scheduled_delivery
