.admin__menu {
  @include span-columns(2.5);
  background: $white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.24);
  ul {
    li {
      border-bottom: 1px solid #dddddd;
      padding: 5px 15px;
      a {
        padding: 10px 5px;
        display: block;
      }
    }
  }
}
.content__right {
  @include span-columns(9.5);
}
