/*=============================================================================
  Import All Stylesheets Partials

 *All constant styles can be found
  in the "base" folder.
============================================================================ */
@import "header";
@import "products";
@import "catagories";
@import "cart";
@import "flash-messages";
@import "admin";
body {
  background: #ededed;
}
main {
  @include outer-container;
  padding: 10px;
}
.container__title {
  margin-bottom: 10px;
  padding: 5px 0;
  color: $black;
  font-size: 30px;
}
