/*=============================================================================
  Stylesheet for the Cart/Checkout Process
============================================================================ */
#cart_items {
  @include span-columns(9);
  display: table;
  margin-top: 31px;
}
#order_summary {
  @include span-columns(3);
}
.btn__decrease,
.btn__increase {
  display: inline-block;
  vertical-align: middle;
}
.item-quantity {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}
.quantity {
  width: 160px;
  text-align: center;
}
.total a {
  float: right;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: $red;
  color: $yellow;
  line-height: 1.4;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}
.shopping-info__heading {
  font-size: 1.4rem;
  margin-top: 10px;
}
