/*=============================================================================
  Styles for the sidebar containing the categories on the Products index page.
============================================================================ */
.categories {
  @include span-columns(2.5);
  background: $light-gray;
  padding: 12px 20px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  input.filter-categories {
    border: 2px solid $primary;
    border-radius: 35px;
    font-style: italic;
    padding-left: 18px;
  }
  ul {
    color: $primary;
    line-height: 40px;
    padding-left: 18px;
    list-style: circle;
    li {
      font-weight: 600;
      line-height: 22px;
      padding: 8px 0px;
    }
  }
  button {
    background: $white;
    border: 3px solid $primary;
    border-radius: 35px;
    font-weight: bold;
    color: $primary;
    margin: 20px auto;
    display: block;
  }
  .selected {
    font-weight: bold;
    text-decoration: underline;
    list-style: disc;
  }
}
