.notice__wrapper {
  position: absolute;
  left: 50%;
  top: 105px;
  width: 550px;
  margin-left: -275px;
  z-index: 999;
  background: rgba(255, 216, 89, 0.28);
  border: 1px solid rgba(128, 128, 128, 0.27);
  p {
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 700;
    color: #B18C16;
    letter-spacing: 1px;
  }
}
