.top-bar {
  background: #525252;
  height: 30px;
}
.top-bar__nav {
  @include outer-container;
  text-align: right;
  color: $white;
  a {
    color: $white;
    padding: 0 43px 0 8px;
    line-height: 28px;
    &:hover {
      text-decoration: underline;
    }
  }
}
header {
  background: $primary;
  width: 100%;
  height: 69px;
}
.header__wrapper {
  @include outer-container;
}
.site-title {
  @include span-columns(2.5);
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 40px;
  padding-left: 18px;
  line-height: 69px;
  margin: 0;
  float: left;
  a {
    text-decoration: none;
    color: $white;
  }
}
.header__search {
  @include span-columns(5.5);
  @include shift(0.5);
  display: inline-block;
  input {
    background: $white;
    border-radius: 35px;
    font-style: italic;
    padding-left: 18px;
    margin: 13px 0;
  }
}
.header__nav {
  @include span-columns(2);
  a {
    color: $white;
    line-height: 69px;
    padding: 10px;
    font-weight: bold;
    margin: 0 10px;
    &:hover {
      color: $yellow;
      border-bottom: 6px solid $red;
    }
  }
}
.header__cart {
  @include span-columns(1.5);
}
.header__cart-total {
  a {
    color: $red;
    font-size: 18px;
    font-weight: bold;
  }
  i {
    background: $yellow;
    margin: 12px 0;
    display: inline-block;
    padding: 10px 12px;
    color: $white;
    font-size: 25px;
  }
  span {
    background: $white;
    display: inline-block;
    top: -2px;
    position: relative;
    padding: 9px 10px;
  }
}
