/*=============================================================================
  Stylesheet for the Products index page.
============================================================================ */
.products {
  @include span-columns(9.5);
}
.product {
  @include span-columns(3);
  margin-right: 1%;
  margin-bottom: 1%;
  background: $white;
  padding: 20px 15px 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
.image__container {
  max-height: 140px;
  line-height: 140px;
}
.product__image {
  max-width: 200px;
  max-height: 140px;
  vertical-align: middle;
}
.product__name {
  color: $black;
  text-align: center;
  margin-top: 14px;
  height: 50px;
}
.product__details {
  li {
    @include span-columns(6);
    @include omega();
    font-size: 0.7rem;
    color: $medium-gray;
    font-weight: 300;
    .bold-type {
      font-weight: 600;
      color: $black;
    }
  }
}
.product--added {
  .fa {
    position: absolute;
    margin-left: 190px;
    margin-top: -6px;
    color: $primary;
  }
}
