#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $primary;
  border-radius: 20px;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  position: relative;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.button__add-to-cart {
  display: block !important;
  margin: 58px auto 2px;
}
.button__add-another {
  @extend .button__add-to-cart;
  background: $yellow !important;
  color: $black !important;
}
.btn--white {
  background: $white;
  border: 3px solid $primary;
  border-radius: 35px;
  font-weight: bold;
  color: $primary;
  margin: 20px auto;
  display: block;
}
.btn__submit {
  margin-top: 20px;
}
