table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  margin: $small-spacing 0;
  width: 100%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.24);
  background: $white;
}
table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
td {
  background-color: transparent;
}
tr,
td,
th {
  vertical-align: middle;
}
td,
th {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */
}
/* nth-child selector for modern browsers */
.striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* BORDERED TABLES */
.table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}
.table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.table-horizontal td,
.table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}
.table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}
