// Typography
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #49CC65;
$blue: #506FB3;
$red: #FF664F;
$yellow: #FFD859;
$black: #565656;
$white: #fff;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ebeaea;
$primary: #4EA054;

// Font Colors
$base-background-color: #E1DFDF;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
