h1 Order ##{@order.id}
p Status: #{@order.status}
p Group Order ID: ##{@order.group_order_id} (#{@order.group_name})

table#line_items
  thead
    th Description
    th Quantity
    th Total
  tbody
    - @order.line_items.each do |line_item|
      tr data-line-item-id="#{line_item.id}"
        td.description= line_item.description
        td.quantity= line_item.quantity
        td.total= line_item.total
        
section#order_summary
  h2 Order Summary
  table
    tbody
      tr.subtotal
        td= "Items (#{@order.line_items.count})"
        td= @order.subtotal.format
      tr.shipping
        td Shipping
        td= @order.shipping.format
      tr.tax
        td Tax
        td= @order.tax.format
      tr.total
        td Order Total
        td= @order.total.format
