- if @cart.items.empty?
  center
    p You have no items in your cart.
- else
  .shopping-info
    h2.shopping-info__heading Message Title
    p Lorem ipsum quam sagittis vivamus eleifend netus convallis habitant, velit inceptos aenean netus suspendisse proin molestie vehicula, hac a risus feugiat tellus eleifend consequat. Eleifend eros aenean nec duis mollis ligula lectus ac, etiam ligula sollicitudin sem est luctus habitasse mattis, vestibulum feugiat ultricies quam tempus senectus auctor. Imperdiet sagittis ipsum duis commodo duis mauris viverra sem, elit integer conubia fringilla non aenean nam curae, velit magna risus id aliquam aliquet integer fringilla nunc eleifend dolor luctus a fringilla aliquam vivamus.
  table#cart_items.striped
    thead
      th.description Description
      th.quantity Quantity
      th.order-total Total
    tbody
      - @cart.items.each do |cart_item|
        tr data-product-id="#{cart_item.product_id}"
          td.description= cart_item.description
          td.quantity
            .btn__decrease = button_to '-', decrement_cart_item_path(cart_item), method: :patch
            span.item-quantity = cart_item.quantity 
            .btn__increase = button_to '+', increment_cart_item_path(cart_item), method: :patch
          td.total #{cart_item.total.format} #{link_to 'x', cart_item_path(cart_item), method: :delete}
          
  section#order_summary
    h2 Order Summary
    table
      tbody
        tr.subtotal
          td= "Items (#{@cart.items.count})"
          td= @cart.subtotal.format
        tr.shipping
          td Shipping
          td= @cart.shipping.format
        tr.tax
          td Tax
          td= @cart.tax.format
        tr.total
          td Order Total
          td= @cart.total.format
    center
      = button_to 'Place Order', submit_cart_path, disabled: @cart.items.empty?, class: 'btn__submit'
