= simple_form_for [:admin, @user_group, @group_order] do |f|
  = f.input :scheduled_delivery
  = f.input :deadline
  = f.input :address_1
  = f.input :address_2
  = f.input :city
  = f.input :state
  = f.input :zip
  = f.input :comments
  = f.submit
