div data-order-id="#{order.id}"
  h3 Order #{order.id} - #{order.user.full_name}
  p Submitted: #{order.created_at}
table
  thead
    th Description
    th Quantity
    th Total
  tbody
    - order.line_items.each do |line_item|
      tr data-line-item-id="#{line_item.id}"
        td.description= line_item.description
        td.quantity= line_item.quantity
        td.total= line_item.total
  tfoot
    tr
      td colspan="2" Subtotal
      td= order.subtotal
    tr
      td colspan="2" Shipping
      td= order.shipping
    tr
      td colspan="2" Tax
      td= order.tax
    tr
      td colspan="2" Total
      td= order.total
