h2.container__title Group Order ##{@group_order.id}

div#summary
  h3 Summary
  ul
    li Order count: #{@group_order.orders.count}
    li Total: #{@group_order.total.format}

- if @group_order.orders.empty?
  p No orders have been submitted yet.
- else
  - @group_order.orders.each do |order|
    = render 'user_order', order: order
