div class="#{in_cart?(product) ? 'product product--added' : 'product'}" data-product-id="#{product.id}"
  - if in_cart?(product)
    i.fa.fa-check-square
  .image__container
    center
      a class="fancybox" href="https://s3.amazonaws.com/denverfoods/#{product.part_number}.jpg"
        =image_tag "https://s3.amazonaws.com/denverfoods-thumbnails/#{product.part_number}.jpg", alt: 'Product Image', class: 'product__image'
  h4.product__name= product.name
  hr
  ul.product__details
    li= "Price: <span class='bold-type'>#{product.price}</span>".html_safe
    li= "Unit Price: <span class='bold-type'>1.16 ea.</span>".html_safe
    li= "Date: <span class='bold-type'>#{product.date}</span>".html_safe
    li= "Unit: <span class='bold-type'>#{product.unit}</span>".html_safe
    - if in_cart?(product)
      = button_to 'Add Another', cart_items_path, params: { product_id: product.id }, class: 'button__add-another'
    - else
      = button_to 'Add to Cart', cart_items_path, params: { product_id: product.id }, class: 'button__add-to-cart'
