.categories
  ul
    - @presenter.categories.each do |category|
      li class="#{ 'selected' if category == @presenter.selected_category}"
        = link_to category.name, category_products_path(category)
      - if category.children.any?
        ul
          - category.children.each do |child|
            li class="#{ 'selected' if child == @presenter.selected_category}"
              = link_to child.name, category_products_path(child)
            
section.products
  h2.container__title
    = @presenter.selected_category.try(:name)
  - @presenter.products.each do |product|
    = render 'product', product: product
