- if policy(:dashboard).show?
  .top-bar
    .top-bar__nav
      i.fa.fa-tachometer
      = link_to 'Admin Dashboard', admin_root_path
header
  .header__wrapper
    h1.site-title 
      = link_to 'Naturally a Deal', root_path
    - if policy(:catalog).show?
      .header__search
        input type="text" placeholder="Search items..."
      nav.header__nav
        = link_to 'Products', root_path
        a href="/" Account
      .header__cart
        .header__cart-total
          a href="#{cart_path}"
            i.fa.fa-shopping-cart
            span 
              = cart_total.format
