doctype html
html
  head
    = render 'layouts/head'
    
  body
    = render 'layouts/header'
    = render 'layouts/flash'
    main
      = render 'admin/shared/menu'
      .content__right
        = yield
